@media (min-width:900px){

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Estonia&family=Hurricane&family=Roboto:wght@100;300&display=swap');
/*RESET*/
*{font-family: 'Oxygen', sans-serif;}
  /*FIM RESET*/
/* Styling the Body of Index*/
body{
    visibility: hidden;
}
.container{
    display: grid;grid-template-rows:  repeat(4,auto);
grid-template-areas: "header" "nav"  "main"  "footer";}


.header{padding: 12px;grid-area: header;background-color: white;   color: black; font-weight:bold ;
    animation: logoA 4s forwards ease-in-out;
    }
    .header:hover{padding: 12px;grid-area: header;background-color: white;   color: black; font-weight:bold ;
    animation: logoA1 2s infinite ease-in-out;
    }
    @keyframes logoA1 {
        from{
            transform: rotateX(0);
        color:tomato;
        font-weight: bolder;   
    }
        to{ transform:  rotateX(360deg); }}
    
    @keyframes logoA {
        from{
            transform: rotateY(0);
        color:tomato;
        font-weight: bolder;
        }
        to{   font-style: normal;
            opacity: 0.7;
            transform:  rotateY(360deg); }}
    
    /*Styling the Nav*/
    nav{     grid-area: nav;display: flex;justify-content: end;padding: 12px;background-color:white;}
    /*rgba(255, 145, 0, 0.185)*/
    nav ul{display: flex;padding-right: 5px;}
    
    nav ul li{padding: 12px;list-style-type: none;}
    nav ul li a {text-decoration: none; font-size: 18px; color:black; font-weight:bolder;}
    nav ul li a:hover { text-decoration: none; font-size: 20px; color:red; font-weight:bolder;
    text-decoration:underline;
    }
    
    
    /* end Styling the Nav*/
    
    /* Styling the footer*/
.footer{ 
    background-color: whitesmoke;
    grid-area: footer;
    padding: 12px;
    grid-template-rows: repeat(2,auto);
}

.footer{display: grid;grid-template-columns: 30% 70% ;}

.logo{text-align: start;font-size: 16pt;}
.logo p{ font-weight: bold;}
#vp{ font-size:50pt;color: red;}
.vpl{ font-size:60pt;color: red;}
#vpe{ font-size:40pt;color: red;}

#vpl{
     color: red; 
animation: logoanima 3s infinite ease-in-out;
}


@keyframes logoanima{
    from{
transform: rotateX(45deg);
    }
    to{

        transform: rotateX(180deg);
        
    }
}

#vpf{  font-size:20pt; color: red;}
.contato{display: grid;grid-template-columns: repeat(3,auto);align-items: center;}

.contato div{ align-items: center;text-align: center;}

.contato a{text-decoration: none;color: black;font-size: 14pt;}

.contato a:active{
    text-decoration: none;color: black;font-size: 14pt;
    text-decoration: none;
}
.contato a:visited{
    text-decoration: none;color: black;font-size: 14pt;
    }


.rights{text-align: center;} .rights p{font-weight: bold;}
    /* End Styling the footer*/
}